<table>
  <tr>
    <th>Version:</th>
    <td><%= device.plugin.version -%></td>
  </tr>
  <tr>
    <th>Plugins:</th>
    <td>
    <% device.plugin.runner_plugins.each_pair do |p, v| %>
      <%= p -%> (<%= v -%>)</br>
    <% end %>
    </td>
  </tr>
</table>

<% device.plugin.connected_devices.each do |d| %>
  <div class="inner-device col-xs-6">
  <%= link_to d.name, device_path(d) %>
  </div>
<% end %>
