<p id="notice"><%= notice %></p>

<% @devices.each do |type, devices| %>

  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title"><%= type.classification %></h1>
      </div>
      <div class="panel-body">

        <% devices.each do |device| %>
        <%= render("shared/device_card", device: device, size: :condensed, card_link: device_url(device) ) -%>
        <% end %>
  
      </div>
    </div>
  </div>

  <% end %>

<br>


<script>
  add_links_to_cards();
  equalize_card_heights('.card-device');
</script>