<p id="notice"><%= notice %></p>

<h1>Searching for: <%= @search_string -%></h1>

<div class="row">
  <% @devices.each do |device| %>
    <%= render("shared/device_card", device: device, size: :condensed, card_link: device_url(device) ) -%>
  <% end %>
</div>

<br>

<script>
  add_links_to_cards();
  equalize_card_heights('.card-device');
</script>