<div class="row">
  <% if @device_type %>
  <%= render("shared/device_type_card", device_type: @device_type, size: :condensed, card_link: brands_path( device_type: @device_type ) ) -%>
  <% end %>
</div>
<div class="row">
  <%= render("shared/brand_card", brand: @brand, size: :condensed, card_link: brands_path( device_type: @device_type) ) -%>
</div>
<div class="row">
  <%= render("shared/model_card", model: @model, size: :condensed, card_link: '' ) -%>
</div>