<div class="card card-<%= card_type -%> card-slip panel panel-default col-sm-1 hidden-xs">
  <div class="panel-body"></div>
</div>
<div class="card card-<%= card_type -%> card-slip panel panel-default col-sm-1 hidden-md hidden-sm hidden-xs">
  <div class="panel-body"></div>
</div>
<div class="card card-<%= card_type -%> card-slip panel panel-default col-sm-1 hidden-sm hidden-xs">
  <div class="panel-body"></div>
</div>
