<div class="card card-model panel panel-default col-lg-3 col-md-4 col-sm-6 col-xs-12"
  href="<%= card_link -%>" >
  <div class="panel-body">
    
    <span class="badge pull-right"><%= model.device_count -%></span>
    <h2><%= link_to model.name, card_link -%></h2>
    <% if size != :condensed %>
  
    <% if model.code %>
    <p><code><%= model.code -%></code></p>
    <% end %>


<% end %>
  </div>
</div>
