<p id="notice"><%= notice %></p>

<div class="row">

  <% @device_types.each do |device_type| %>
    <%= render("shared/device_type_card", device_type: device_type, size: :large) -%>
  <% end %>

</div>
