<h1>Create new type of device</h1>
<p class="lead">Create a new category of device not currently supported by
HiveMind</p>

<%= render 'form' %>

<%= link_to( 'Cancel', '/browse', class: 'btn btn-default' )%>
