// Place all the styles related to the brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  border-color: white;
}

.card-brand {
  background-color: rgb(230,210,210);  
}

.card-device-type {
  background-color: rgb(210,230,230);  
}

.card-model {
  background-color: rgb(210,210,210);  
}

.card-device {
  background-color: rgb(230,230,230);  
}