// Place all the styles related to the brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  border-color: white;
  background-position: center bottom;
  background-repeat: no-repeat;
  margin-bottom: 0px;
}

.card h1 {
  margin: 0px;
}

.card-brand {
  background-color: rgb(230,210,210);  
}

.card-model {
  background-color: rgb(210,210,210);  
}

.card-device {
  background-color: rgb(240,240,240);
}

.card-device-type {
  background-color: rgb(210,230,230);
}

.card-mobile {
  background: url('/assets/mobile_pale.png');
}

.card-tv {
  background: url('/assets/tv_pale.png');
}

.card-device-type {
  background-color: rgb(210,230,230);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}