.label-status {
}

.label-unknown {
  background-color: #666666;
}

.label-happy {
  background-color: #5cb85c;
}

.label-visible {
  background-color: #2222aa;
}

.label-unhappy {
  background-color: #d9534f;
}

.label-dead {
  background-color: #d9534f;
}

.label-disconnected {
  background-color: #d9534f;
}

.label-unresponsive {
  background-color: #8B4513;
}
