<p id="notice"><%= notice %></p>


<% if @device_type %>
<div class="row">

<%= render("shared/device_type_card", device_type: @device_type, size: :condensed ) -%>

</div>

<% end %>



<div class="row">

  <% @brands.each do |brand| %>
    <%= render("shared/brand_card", brand: brand, size: :detailed) -%>
  <% end %>

</div>

<br />
<hr>
<br />
  

<div class="row">

<%= link_to 'New Brand', new_brand_path %>
</div>